{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Login</h1>

<form method="POST" action="{% url 'users:login'%}">

  {% csrf_token %}
  Username:
  <br>
  <input name="username" type="text" value="">
  <br>
  Password:
  <br>
  <input name="password" type="password" value="">
  <br>
  <br>
  <input class="btn btn-primary" type="submit" value="Login">
</form>

<br>
<a href="{% provider_login_url 'google' %}">구글 로그인</a>
<br>


{% endblock %}